<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="HealthCheck" stopProcessing="true">
            <match url="^_healthcheck/status/?" />
            <action type="Rewrite" url="healthcheck.json" appendQueryString="true" logRewrittenUrl="true" />
          </rule>		        
          <rule name="Server" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
